<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../_share/metadata.ejs") %> <%-
    include("../_share/stylesheets.ejs") %>
    <link rel="stylesheet" href="/public/stylesheets/shop.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="outerframe">
      <%- include("../_share/footer.ejs") %>
      <div class="container">
        <h1 class="my-5">会員ページ</h1>
        <div class="row">
          <nav class="col-md-3 md-3">
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action"
                >ホーム</a
              >
              <a href="" class="list-group-item list-group-item-action"
                >マイ食レポ</a
              >
              <a href="" class="list-group-item list-group-item-action">設定</a>
            </div>
          </nav>
          <main class="col-md-9"></main>
        </div>
      </div>
      <%- include("../_share/navbar.ejs") %>
    </div>

    <%- include("../_share/javascripts.ejs")%>
  </body>
</html>
